<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>{{ title }}</h1>
	<ul>
		<li><a href="/admin">Admin Page</a></li>
		<li><a href="/api">API Root Endpoint</a></li>
		<li><a href="/explorer">API Explorer by Swagger</a></li>
	</ul>

</body>
